$primary-color: #262730;
$body-background: #101115;
$off-white: #fcf5ee;
$dark-brown: #5e4b36;
$brown-836C51: #836c51;
$green: #43b431;
$gradient: linear-gradient(90deg, #da630d 0%, #f5a94e 51.04%, #d27910 100%);
$danger-red: #e82d2d;

$gradient-background: linear-gradient(180deg, #ffdcb3 1%, #fffae2 100%);
